main{
    display: flex;
    flex-direction: column;
}

img{
    align-self: center;
}

h1, main h2, main h3{
    margin: 2vh;
}

h1{
    align-self: center;
}

main p, main li{
    color: var(--color-main-dark);
    margin: 15px;
}

main ul{
    margin: 1.2vh;
}