:root {
    --color-main-dark: #15607B;
    --color-main-light: #63B0CD;
    --color-second-dark: #A01B24;
    --color-second-light: #DF2935;
    --color-bg-light: #E6E6E6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 1600px;
    margin: 70px auto;
    padding: 6vh 2vw 2vh;
}